<div class="span9">
	<div class="span4 benner-h2">
		<h2>Cara pesan Herbalife</h2>
		<div class="span12" style="margin-left: 0px;">
			<img src="{$Yii->baseUrl}/img/produk-herbalife-murah.jpg" alt="Dapatkan produk herbalife dengan harga murah disini" />
		</div>
		<div class="span12 benner-h3" style="margin-left: 0px;">
			<h3>
				<a href="">Cara order produk Herbalife murah dan cepat</a>
			</h3>
		</div>
		<div class="span12">
			<p>Kami berusaha memudahkan Anda. Anda dapat melakukan order melalui HP, email, web My Herbalife Indonesia ataupun datang ke toko-toko agen Herbalife Kami.</p>
		</div>
	</div>
	<div class="span4 benner-h2">
		<h2>Pengiriman Herbalife</h2>
		<div class="span12" style="margin-left: 0px;">
			<img src="{$Yii->baseUrl}/img/pengiriman-produk-herbalife.jpg" alt="Bagaimana pengiriman produk herbalife yang cepat dan aman" />
		</div>
		<div class="span12 benner-h3" style="margin-left: 0px;">
			<h3>
				<a href="">Bagaimana pengiriman produk Herbalife</a>
			</h3>
		</div>
		<div class="span12">
			<p>Anda dapat membeli produk-produk herbalife untuk menjaga kesehatan Anda. Dengan partner-partner pengiriman kami yang handal. Kami berusaha mengirimkan paket herbalife dengan cepat</p>
		</div>
	</div>
	<div class="span4 benner-h2">
		<h2>Distributor Herbalife</h2>
		<div class="span12" style="margin-left: 0px;">
			<img src="{$Yii->baseUrl}/img/distributor-herbalife.jpg" alt="Bila anda ingin menjadi distributor herbalife dapat menghubungi kami" />
		</div>
		<div class="span12 benner-h3" style="margin-left: 0px;">
			<h3>
				<a href="">Ingin menjadi <b>Distributor Herbalife</b></a>
			</h3>
		</div>
		<div class="span12">
			<p>Bergabunglah dengan kami untuk memperbesar jaringan herbalife indonesia. Dan dapat menyehatkan banyak orang dengan produk-produk Herbalife</p>
		</div>
	</div>
</div>